<div >    
      <ion-item>
        <ion-label floating>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="conduzido.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefone:</ion-label>
        <ion-input type="tel" [(ngModel)]="conduzido.telefone"></ion-input>
      </ion-item> 
      <ion-item *ngIf="chave.chave" >
        <ion-label floating>Chave:</ion-label>
        <ion-input type="text" disabled [(ngModel)]="chave.chave"></ion-input>
      </ion-item> 
  </div>
