<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Roteiros</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let roteiro of roteiros | async" 
    (click)="onSelect(roteiro)"
    [class.selected]="roteiro === roteiroSelecionado"
    >
        {{roteiro.nome}}
        <button (click)="iniciar(roteiro)"><ion-icon name="bus"></ion-icon></button>
        <button *ngIf="roteiro.ativo" (click)="desativar(roteiro)"  ><ion-icon name="ios-radio-button-on"></ion-icon></button>
        <button *ngIf="!roteiro.ativo" (click)="ativar(roteiro)"  ><ion-icon name="ios-radio-button-off"></ion-icon></button>
        <button (click)="excluir(roteiro)"  class="delete"><ion-icon name="remove-circle"></ion-icon></button>

    </ion-item>
  </ion-list>

  <button ion-button (click)="novo()">Novo</button>
  <button ion-button [disabled]="!roteiroSelecionado" (click)="detalhe()">Editar</button>
  <button ion-button [disabled]="!roteiroSelecionado" (click)="excluir()">Excluir</button>
</ion-content>